#menu{
	float: top;
   width: 1000px;
   text-decoration: none; 
   font-family:  Caviar Dreams; Oswald; Museo Sans;
   font-weight:bold; 
   font-size: 16px;
   display:block;
    position: fixed;
    text-align:center
    	width=100%;
}

#menu ul li {
	   list-style-type:none;
	   display:inline;
	   font-family:  Caviar Dreams, Oswald, Museo Sans;
}

*{
	 font-family:  Caviar Dreams, Oswald, Museo Sans;
}

#photomoi
{
	width: 150px;
	height: 150px;
}



#telecom{
	width:100px;
	height:100px;
}
#orange{
	width:100px;
	height:100px;
}

nav{
	width: 100%;
	text-align:center;
}