
header
{
	font-family:  Caviar Dreams;
	Oswald;
	Museo Sans;
	font-weight:bold;
	font-size: 16px;
	left:0;
	top:0;
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

.navbar navbar-default
{
	position:fixed;
}

ul
{
	padding-left: 0;
}

p
{
	color:white;
	font-size:20px;
}

h1
{
	color:white;
}

.navbar-custom {
    color: #FFFFFF;
}

a
{
	text-decoration: none;
	color:white;
}


#menu ul li
{
	list-style-type:none;
	display:inline;
	font-family:  Caviar Dreams, Oswald, Museo Sans;
}

*
{
	font-family:  Caviar Dreams, Oswald, Museo Sans;
}

#photomoi
{
	width: 140px;
	height: 140px;
}

#telecom
{
	width:140px;
	height:140px;
}

#orange
{
	width:100px;
	height:100px;
}

#sncf
{
	width:150px;
	height:79px;
}

nav
{
	width: 100%;
	text-align:center;
}

body
{
	background-image:url(image/fond.jpg);
	background-repeat: repeat;
	position:relative;
}

#presentation
{
	display:block;
}

table
{
	margin:auto;
}

#twitter
{
	height: 45px;
	width: 45px;
}

#linkedin
{
	height: 45px;
	width: 45px;
}

#imgcontact
{
	height: 45px;
	width: 55px;
}

.title
{
}

h1
{
	font-size: 50px;
	text-align: center;
	border-bottom: 3px solid #ff6600;
	color: #ffffff;
	margin-bottom: 30px;
}

h2, h3
{
	color: #ffffff;
}

#experiences p
{
	font-size:20px;
}

#experiences
{
	text-align:center;
}

img
{
	margin-left:auto;
	margin-right:auto;
}

#gauche
{
	margin-right:400px;
}

#droite
{
	margin-left:400px;
}

#apr
{
	margin-right:400px;
}

#logoEC
{
	width:100px;
	height:100px;
}

#logotelecom
{
	width:100px;
	height:100px;
}

.centerblock
{
}

h2
{
	text-align:center;
	margin-top:5%;
	margin-bottom:5%;
}

h1
{
	margin-top:5%;
	margin-bottom:5%;
}

#im-centered
{
	margin: auto;
	max-width: 300px;
}

#photodiv{
	width: 150px;
	height: 150px;
}

#photodivl{
	width: 200px;
	height: 117px;
}

.centreint{
	padding-top: 5%;
}

.input-group[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
    }