
header
{
	font-family:  Caviar Dreams;
	Oswald;
	Museo Sans;
	font-weight:bold;
	font-size: 16px;
	left:0;
	top:0;
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

.navbar navbar-default
{
	position:fixed;
}

ul
{
	padding-left: 0;
}

p
{
	color:white;
	font-size:20px;
}

h1
{
	color:white;
}

.navbar-custom {
    color: #FFFFFF;
}

a
{
	text-decoration: none;
	color:white;
}


#menu ul li
{
	list-style-type:none;
	display:inline;
	font-family:  Caviar Dreams, Oswald, Museo Sans;
}

*
{
	font-family:  Caviar Dreams, Oswald, Museo Sans;
}

#photomoi
{
	width: 140px;
	height: 140px;
}

#telecom
{
	width:140px;
	height:140px;
}

#orange
{
	width:100px;
	height:100px;
}

#sncf
{
	width:150px;
	height:79px;
}

nav
{
	width: 100%;
	text-align:center;
}

body
{
	background-image:url(image/fond.jpg);
	background-repeat: repeat;
	position:relative;
}

#presentation
{
	display:block;
}

table
{
	margin:auto;
}

#twitter
{
	height: 45px;
	width: 45px;
}

#linkedin
{
	height: 45px;
	width: 45px;
}

.title
{
}

h1
{
	font-size: 50px;
	text-align: center;
	border-bottom: 3px solid #ff6600;
	color: #ffffff;
	margin-bottom: 30px;
}

h2, h3
{
	color: #ffffff;
}

#experiences p
{
	font-size:20px;
}

#experiences
{
	text-align:center;
}

img
{
	margin-left:auto;
	margin-right:auto;
}

#gauche
{
	margin-right:400px;
}

#droite
{
	margin-left:400px;
}

#apr
{
	margin-right:400px;
}

#logoEC
{
	width:100px;
	height:100px;
}

#logotelecom
{
	width:100px;
	height:100px;
}

.centerblock
{
}

h2
{
	text-align:center;
	margin-top:5%;
	margin-bottom:5%;
}

h1
{
	margin-top:5%;
	margin-bottom:5%;
}

#im-centered
{
	margin: auto;
	max-width: 300px;
}

@media (min-width:751px)
{
	#milieu
	{
		width: 37%;
		padding-left: 0px;
		padding-right: 0px;
	}

	#right
	{
		padding-left: 0px;
		padding-right: 0px;
		width: 27%;
	}

	.row-title
	{
		padding-left: 20%;
	}
}

/*Version Responsive*/
@media (max-width:600px)
{
	p
	{
		font-size:10px;
	}

	#menu
	{
		font-size: 10px;
	}

	#experiences p
	{
		font-size:10px;
	}

	h1
	{
		font-size: 10px;
	}

	h2
	{
		font-size: 10px;
	}

	table
	{
		font-size: 10px;
	}

	#gauche
	{
		margin-right:0px;
	}

	#gauche
	{
		margin:auto;
	}

	#droite
	{
		margin-left:0px;
	}

	#telecom
	{
		width:100px;
		height:100px;
	}

	#orange
	{
		width:50px;
		height:50px;
	}

	#logoEC
	{
		width:50px;
		height:50px;
	}

	#logotelecom
	{
		width:50px;
		height:50px;
	}

	#sncf
	{
		width:60px;
		height:40px;
	}

	#twitter
	{
		height: 20px;
		width: 20px;
		text-align:center;
	}

	#linkedin
	{
		height: 20px;
		width: 20px;
		margin:auto;
	}

	#photomoi
	{
		width: 100px;
		height: 100px;
	}

	#moi
	{
		font-size: 8px;
	}
}
